Source: ros-noetic-ixblue-ins
Section: misc
Priority: optional
Maintainer: Adrien BARRAL <adrien.barral@ixblue.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin
Homepage: http://wiki.ros.org/ixblue_ins
Standards-Version: 3.9.2

Package: ros-noetic-ixblue-ins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-ixblue-ins-driver, ros-noetic-ixblue-ins-msgs
Description: Metapackage for iXblue INS driver
