Source: ros-kinetic-ixblue-ins-msgs
Section: misc
Priority: optional
Maintainer: Adrien BARRAL <adrien.barral@ixblue.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-std-msgs
Homepage: http://wiki.ros.org/ixblue_ins_msgs
Standards-Version: 3.9.2

Package: ros-kinetic-ixblue-ins-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Description: The ixblue INS defined messages package
