Source: ros-melodic-ixblue-ins-driver
Section: misc
Priority: optional
Maintainer: Laure LE BRETON <laure.le-breton@ixblue.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-ixblue-ins-msgs, ros-melodic-ixblue-stdbin-decoder, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs
Homepage: http://wiki.ros.org/ixblue_ins_driver
Standards-Version: 3.9.2

Package: ros-melodic-ixblue-ins-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-ixblue-ins-msgs, ros-melodic-ixblue-stdbin-decoder, ros-melodic-nav-msgs, ros-melodic-roscpp, ros-melodic-sensor-msgs
Description: The iXblue_ins_driver package
